 <div class="navbar hidden">
	<ul class="list-unstyled">
		<li><a href="#1">Profile</a></li>
		<li><a href="#2">Abilities</a></li>
		<li><a href="#3">Projects</a></li>
	</ul>	
</div>

<div class="wrapper-white">
	<div class="container">
		<div class="card-profile section" id="1">
			<div class="centered-sentences">		
				<h2>Profile</h2>
				<p>I'm a creative Ruby on Rails developper </p>
			</div>
				<hr>
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="about-me">
						<h3>About me</h3>
						<p>Lorem ipsum dolor sit amet, et consectetuer euismod praesent eros, tristique urna sollicitudin mauris, 
						id est erat. Sollicitudin diam turpis at. Tellus vehicula eu, nulla accumsan, amet dictum sed eget libero. Vitae blandit vel eleifend tristique, vel varius consequat diam, malesuada eget sociis varius eros laoreet justo. Euismod sollicitudin nibh, viverra augue quam ac cursus.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="avatar">
						<%= image_tag "avatar.jpg", class: "avatar-large" %>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="details">
						<h3>Details</h3>
						<p><strong>Name:</strong></p>
						<p>Julien Da Silva</p>
						<p><strong>Age:</strong></p>
						<p>30</p>
						<p><strong>Location:</strong></p>
						<p>Paris, France</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper-grey">
	<div class="container">
		<div class="abilities section" id="2">
			<div class="centered-sentences">
				<h2>Abilities</h2>
				<p>“Tell me and I forget, teach me and I may remember, involve me and I learn.”</p>
				<p>- Benjamin Franklin</p>
					<hr>
			</div>
			<div class="skills">
				<h3 class="category-name">Skills</h3>
				<div class="row">
					<div class="col-md-5">
						<ul class="list-unstyled">
							<li>
								<span class="ability-title">HTML</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
							<li>
								<span class="ability-title">HTML</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
							<li>
								<span class="ability-title">HTML</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
							<li>
								<span class="ability-title">HTML</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
						</ul>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<ul class="list-unstyled">
							<li>
								<span class="ability-title">HTML</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
							<li>
								<span class="ability-title">HTML</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
							<li>
								<span class="ability-title">HTML</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
							<li>
								<span class="ability-title">HTML</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="project-referal">
						<p id="italic">This project is build on a custom made Middleman framework.</p>
						<%= link_to("See project on github", "https://github.com/Llanowars/jdasilva", class:"btn-transparent-green")	%>
					</div>
				</div>
				<hr>
				<div class="row">
					<h3 class="category-name">Languages</h3>
					<div class="col-md-5">
						<ul class="list-unstyled">
							<li>
								<span class="ability-title">French (native language) </span>
								<%= content_tag("span","",class:"fa fa-star") * 5 %> 
							</li>
							<li>
								<span class="ability-title">English (daily use)</span>
								<%= content_tag("span","",class:"fa fa-star") * 5 %> 
							</li>
						</ul>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<ul class="list-unstyled">
							<li>
								<span class="ability-title">Spanish (second mother language)</span>
								<%= content_tag("span","",class:"fa fa-star") * 4 %> 
							</li>
							<li>
								<span class="ability-title">Portuguese (father language)</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
						</ul>
					</div>
				</div>
				<hr>
				<div class="row">
					<h3 class="category-name">Tools</h3>
					<div class="col-md-5">
						<ul class="list-unstyled">
							<li>
								<span class="ability-title">Sublime text</span>
								<%= content_tag("span","",class:"fa fa-star") * 5 %> 
							</li>
							<li>
								<span class="ability-title">Github flow</span>
								<%= content_tag("span","",class:"fa fa-star") * 5 %> 
							</li>
						</ul>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<ul class="list-unstyled">
							<li>
								<span class="ability-title">Ticketing systems</span>
								<%= content_tag("span","",class:"fa fa-star") * 4 %> 
							</li>
							<li>
								<span class="ability-title">Trello</span>
								<%= content_tag("span","",class:"fa fa-star") * 3 %> 
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper-white section">
	<div class="container">
		<div class="projects" id="3">
			<div class="centered-sentences">		
				<h2>Projects</h2>
				<p>I love building things</p>
			</div>
				<hr>
			<div class="row">
			</div>
		</div>
	</div>
</div>